body {
    color: maroon;
}

.menu_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user_info_container {
    position: absolute;
    top: 50%;
    left: calc(50% + 180px); /* Siirretään oikealle menu_containerista */
    transform: translate(0, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 200px; /* Kiinteä leveys */
}

#username-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
}

#user-list {
    list-style-type: none; /* Poistaa listan merkit (•) */
    padding: 0;
    margin-top: 10px;
}

#user-list li {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}