<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main_menu.css">
    <script src="/static/js/main_menu.js" defer></script>
</head>
<body>
  <div class="menu_container">

      <h1>Päävalikko</h1>
      <p>Tervetuloa pelaamaan lentopeliä!</p>

      <div class="button-container">
          <button onclick="showUserNameInput()">Valitse käyttäjä</button>
          <button onclick="showAddNewUserInput()">Lisää käyttäjä</button>
          <button onclick="fetchUsers()">Käyttäjälista</button>
      </div>

      <div id="username-container" style="display: none;">
          <input type="text" id="username_input" placeholder="Syötä käyttäjänimi">
          <button onclick="selectUser()">OK</button>
      </div>

      <div id="add-user-container" style="display: none;">
          <input type="text" id="new-username" placeholder="Syötä uusi käyttäjä">
          <button onclick="addUser()">OK</button>
      </div>
      <p id="add-user-message"></p>

      <div id="user-list-container">
          <ul id="user-list"></ul>
          <button id="prev-page" onclick="prevPage()" style="display: none;">Edellinen</button>
          <button id="next-page" onclick="nextPage()" style="display: none;">Seuraava</button>
      </div>

  </div>

  <div class="user_info_container">
      <p id="user-info"></p>
  </div>
</body>
</html>